/*************************/
/*GLOBAL SECTION*/
/*************************/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 2.8rem;
    color: rgb(102, 102, 102);
    background-color: rgb(245, 245, 245);
}

/*************************/
/*NAVBAR*/
/*************************/

.open-slide svg {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(17, 17, 17);
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 7rem;
    transition: 0.5s;
}

.side-nav a {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 2.2rem;
    color: rgb(245, 245, 245);
    display: block;
    transition: 0.3s;
    text-align: left;
    text-transform: uppercase;
}

.side-nav a:hover {
    color: rgb(255, 140, 0);
    background-color: rgb(245, 245, 245);
    font-weight: bold;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.5rem;
}

.current {
    background-color: rgb(255, 140, 0);
    font-weight: bold;
}

/*************************/
/*HOME PAGE: Showcase*/
/*************************/

section#showcase {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/Showcase/showcase-road.jpeg");
    height: 100%;
    margin-bottom: 0;
}

.picture-1-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 60%;
    text-align: left;
    padding: 1.5rem;
    font-size: 2.7rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(102, 102, 102, .3);
    border: none;
}

.picture-1-text h1 {
    margin: 1.5rem 0;
}

.highlight {
    color: rgb(255, 140, 0);
}

.picture-1-text p {
    margin-bottom: 1.5rem;
}

/*************************/
/*HOME PAGE: Section-1*/
/*************************/

.section-1 {
    display: flex;
    font-size: 2.5rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    min-height: 30rem;
}

.box-1 {
    text-align: center;
    flex-basis: 80%;
}

.section-1 h2, .section-1 p {
    margin-bottom: 2.5rem;
}

.section-1 h2 {
    margin-top: 2.5rem;
}

/*************************/
/*HOME PAGE: Section-2*/
/*************************/

.section-2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(102, 102, 102);
    color: rgb(245, 245, 245);
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-around;
    min-height: 30rem;
}

.box-2, .box-3, .box-4 {
    flex-basis: 20%;
    min-width: 34rem;
    text-align: center;
    padding: 2.5rem;
}

.box-2 h3, .box-3 h3, .box-4 h3 {
    padding: 1.5rem;
    text-transform: uppercase;
}

.box-2 i, .box-3 i, .box-4 i {
    font-size: 5rem;
    color: rgb(255, 140, 0);
}

/*************************/
/*HOME PAGE: Section-3*/
/*************************/

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.box-5 {
    flex: 1;
    background-image: url("Images/Tradeshows/AlarmCom-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.box-6 {
    flex: 1;
    background-image: url("Images/Web/DevilMountain-2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.box-7 {
    flex: 1;
    background-image: url("Images/Tradeshows/Clicktail.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.box-8 {
    flex: 1;
    background-image: url("Images/Web/RooGlue.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.box-9 {
    flex: 1;
    background-image: url("Images/Web/WorldofTile-2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.box-10 {
    flex: 1;
    background-image: url("Images/Tradeshows/Nasdaq.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.box-11 {
    flex: 1;
    background-image: url("Images/Web/SparetimeSupply.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.box-12 {
    flex: 1;
    background-image: url("Images/Tradeshows/QDVision-2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

/*************************/
/*FOOTER*/
/*************************/

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 2.5rem 0;
    background: rgb(245, 245, 245);
    text-align: center;
    font-size: 1.2rem;
}

/*************************/
/*ABOUT PAGE: Showcase*/
/*************************/

#showcase-2 {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/About/Profile-BBall.JPG");
    min-height: 100%;
}

.picture-2-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    text-align: left;
    padding: 1.5rem;
    font-size: 2.7rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(102, 102, 102, .3);
    border: none;
}

.picture-2-text h1 {
    margin: 1.5rem 0;
}

.picture-2-text p {
    margin-bottom: 1.5rem;
}

/*************************/
/*ABOUT PAGE: Section-1*/
/*************************/

.about-section-1 {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    height: auto;
}

.about-box-1 {
    text-align: center;
    flex-basis: 80%;
}

.about-section-1 h2, .about-section-1 p {
    margin-bottom: 2.5rem;
}

.about-section-1 h2 {
    margin-top: 3.5rem;
    text-transform: uppercase;
}

/*************************/
/*ABOUT PAGE: Section-2*/
/*************************/

.about-section-2 {
    display: flex;
    min-height: 100%;
}

.about-picture {
    flex: 1;
    background-image: url("Images/About/Profile-Bridge.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -50rem;
    background-attachment: fixed;
}

/*************************/
/*ABOUT PAGE: Section-3*/
/*************************/

.about-box-2, .about-box-3 {
    margin: 2.5rem 0;
    text-align: center;
    font-size: 1.6rem;
}

.about-box-2 h2, .about-box-3 h2 {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.about-section-3a {
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    background-image: url("Images/Showcase/showcase-ps4.jpeg");
    min-height: 40rem;
}

.about-section-3b {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(102, 102, 102);
    color: rgb(245, 245, 245);
}

.about-box-4, .about-box-5, .about-box-6 {
    flex: 1;
    width: 33%;
    height: auto;
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.6rem;
}

.about-box-4 h3, .about-box-5 h3, .about-box-6 h3 {
    margin-bottom: 2rem;
    text-transform: uppercase
}

.about-box-4 ul, .about-box-5 ul, .about-box-6 ul {
    list-style-type: none;
    padding-bottom: 25px;
}
    
.about-box-4 i, .about-box-5 i, .about-box-6 i {
    padding: 1rem;
    font-size: 3rem;
    color: rgb(255, 140, 0);
}

/*************************/
/*MY WORK PAGE: Showcase*/
/*************************/

#showcase-3 {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/Showcase/showcase-forest.jpeg");
    min-height: 100%;
}

.picture-3-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    text-align: left;
    padding: 1.5rem;
    font-size: 2.7rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(102, 102, 102, .3);
    border: none;
}

.picture-3-text h1 {
    margin: 1.5rem 0;
}

.picture-3-text p {
    margin-bottom: 1.5rem;
}

/*************************/
/*MY WORK PAGE: Section-1*/
/*************************/

.mywork-section-1 {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    height: auto;
}

.mywork-box {
    flex: 1;
    text-align: center;
    flex-basis: 80%;
    width: 100%;
}

.mywork-section-1 p {
    margin-bottom: 2.5rem;
}

.mywork-section-1 h2 {
    margin-top: 2.5rem;
    text-transform: uppercase;
}

/*************************/
/*MY WORK PAGE: Section-2*/
/*************************/

.mywork-flex-container-1 {
    display: flex;
    margin: 0 3rem;
    box-sizing: border-box;
}

.mywork-flex-container-2 {
    display: flex;
    margin: 5rem 3rem;
    box-sizing: border-box;
}

.mywork-box-1 {
    display: flex;
    flex: 1;
    background-image: url("Images/Web/DevilMountain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -8rem 0;
    min-height: 40rem;
    border: .1rem solid #666;
    margin-right: 2.5rem;
    width: 100%;
}

.mywork-box-2 {
    display: flex;
    flex: 1;
    background-image: url("Images/Web/WorldofTile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -8rem 0;
    min-height: 40rem;
    width: 100%;
    border: .1rem; solid #666;
    margin-left: 2.5rem;
}

.mywork-box-3 {
    display: flex;
    flex: 1;
    background-image: url("Images/Tradeshows/AlarmCom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40rem;
    border: .1rem solid #666;
    width: 100%;
    margin-right: 2.5rem;
}

.mywork-box-4 {
    display: flex;
    flex: 1;
    background-image: url("Images/Web/AstorGroup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 40rem;
    border: .1rem solid #666;
    width: 100%;
    margin-left: 2.5rem;
}


.mywork-box-1 a, .mywork-box-2 a, .mywork-box-3 a, .mywork-box-4 a {
    display: flex;
    text-decoration: none;
    width: 100%;
    height: auto;
}

.mywork-box-1 a p, .mywork-box-2 a p, .mywork-box-3 a p, .mywork-box-4 a p {
    width: 100%;
    height: auto;
    padding-top: 30%;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: bold;
}

.mywork-box-1 a p:hover, .mywork-box-2 a p:hover, .mywork-box-3 a p:hover, .mywork-box-4 a p:hover {
    color: rgb(245, 245, 245);
    background-color: rgba(255, 140, 0, .9);
}

/*************************/
/*MY WORK PAGE: Section-3*/
/*************************/

.mywork-section-3 {
    background-color: rgb(102, 102, 102);
    font-size: 1.6rem;
    height: auto;
    padding-bottom: 2.5rem;
}

.mywork-section-3 h2 {
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    text-align: center;
    padding: 2.5rem 0;
}

.mywork-flex-container-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start
}

.mywork-box-5 {
    flex: 1;
    background-image: url("Images/Tradeshows/Nasdaq.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.mywork-box-6 {
    flex: 1;
    background-image: url("Images/Tradeshows/Parallon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.mywork-box-7 {
    flex: 1;
    background-image: url("Images/Tradeshows/Healthtrust.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.mywork-box-8 {
    flex: 1;
    background-image: url("Images/Tradeshows/Conifer.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.mywork-box-9 {
    flex: 1;
    background-image: url("Images/Tradeshows/Italia.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.mywork-box-10 {
    flex: 1;
    background-image: url("Images/Tradeshows/QDVision-2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.mywork-box-11 {
    flex: 1;
    background-image: url("Images/Tradeshows/Clicktail.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

.mywork-box-12 {
    flex: 1;
    background-image: url("Images/Tradeshows/ForRent.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 30rem;
    margin: .5rem;
}

/*************************/
/*DEVIL MOUNTAIN: Showcase*/
/*************************/

section#showcase-3a {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/Showcase/showcase-forest.jpeg");
    background-position: bottom;
    min-height: 40%;
}

.picture-3a-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    text-align: left;
    padding: 1.5rem;
    font-size: 2.7rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(102, 102, 102, .3);
    border: none;
}

.picture-3a-text h1 {
    margin: 1.5rem 0;
}

.picture-3a-text p {
    margin-bottom: 1.5rem;
}

/*************************/
/*DEVIL MOUNTAIN: Slide Content*/
/*************************/

.dm-flex-container-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 2rem;
}

.dm-box-1 {
    flex: 1;
    order: 1;
    background-image: url("Images/Web/DevilMountain-5.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;
}

.dm-box-2 {
    flex: 1;
    order: 2;
    background-image: url("Images/Web/DevilMountain-3.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;
}

.dm-box-3 {
    flex: 1;
    order: 3;
    background-image: url("Images/Web/DevilMountain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;
}

.dm-box-4 {
    flex: 1;
    order: 4;
    background-image: url("Images/Web/DevilMountain-4.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 25rem;  
    margin: .5rem;
}

/*************************/
/*DEVIL MOUNTAIN: Main Content*/
/*************************/

.dm {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
    font-size: 1.6rem;
}

section#project-1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.6rem;
    height: auto;
    margin: 0 5%;
}

.project-1-box-1 {
    flex: 2;
    order: 1;
    flex-basis: 50%;
    margin-right: 2.5rem;
}

section#project-1 h3 {
    margin: 2.5rem 0;
    text-transform: uppercase;
    text-align: center;
}

#project-1-box-1 p {
    text-align: left;
}

.project-1-box-2 {
    flex: 1;
    order: 2;
    flex-basis: 20%;
    background-color: rgb(102, 102, 102);
    color: rgb(245, 245, 245);
    justify-content: center;
    align-content: center;
    text-align: center;
}

.project-1-box-2 ul {
    list-style-type: none;
}

/*************************/
/*WORLD OF TILE: Showcase*/
/*************************/

section#showcase-3b {
    position: relative;
    opacity: .9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/Showcase/showcase-forest.jpeg");
    background-position: bottom;
    min-height: 40%;
}

.picture-3b-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    text-align: left;
    padding: 1.5rem;
    font-size: 2.7rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(102, 102, 102, .3);
    border: none;
}

.picture-3b-text h1 {
    margin: 1.5rem 0;
}

.highlight {
    color: rgb(255, 140, 0);
}

.picture-3b-text p {
    margin-bottom: 1.5rem;
}

/*************************/
/*WORLD OF TILE: Slide Content*/
/*************************/

.wot-flex-container-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 2rem;;
}

.wot-box-1 {
    flex: 1;
    order: 1;
    background-image: url("Images/Web/WorldofTile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;
}

.wot-box-2 {
    flex: 1;
    order: 2;
    background-image: url("Images/Web/WorldofTile-2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;
}

.wot-box-3 {
    flex: 1;
    order: 3;
    background-image: url("Images/Web/WorldofTileAd-3.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;
}

.wot-box-4 {
    flex: 1;
    order: 4;
    background-image: url("Images/Web/WorldofTile-3.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;  
}

/*************************/
/*WORLD OF TILE: Main Content*/
/*************************/

.wot {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
    font-size: 1.6rem;
}

section#project-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.6rem;
    height: auto;
    margin: 0 5%;
}

.project-2-box-1 {
    flex: 2;
    order: 1;
    flex-basis: 50%;
    margin-right: 2.5rem;
}

section#project-2 h3 {
    margin: 2.5rem 0;
    text-transform: uppercase;
    text-align: center;
}

#project-2-box-1 p {
    text-align: left;
}

.project-2-box-2 {
    flex: 1;
    order: 2;
    flex-basis: 20%;
    background-color: rgb(102, 102, 102);
    color: rgb(245, 245, 245);
    justify-content: center;
    align-content: center;
    text-align: center;
}

.project-2-box-2 ul {
    list-style-type: none;
}

/*************************/
/*ALARM.COM: Showcase*/
/*************************/

section#showcase-3c {
    position: relative;
    opacity: .9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/Showcase/showcase-forest.jpeg");
    background-position: bottom;
    min-height: 40%;
    margin-bottom: 0;
}

.picture-3c-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    text-align: left;
    padding: 1.5rem;
    font-size: 2.7rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(102, 102, 102, .3);
    border: none;
}

.picture-3c-text h1 {
    margin: 1.5rem 0;
}

.highlight {
    color: rgb(255, 140, 0);
}

.picture-3c-text p {
    margin-bottom: 1.5rem;
}

/*************************/
/*ALARM.COM: Slide Content*/
/*************************/

.ac-flex-container-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 2rem;
}

.ac-box-1 {
    flex: 1;
    order: 1;
    background-image: url("Images/Tradeshows/AlarmCom-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;   
}

.ac-box-2 {
    flex: 1;
    order: 2;
    background-image: url("Images/Tradeshows/AlarmCom-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;  
}

.ac-box-3 {
    flex: 1;
    order: 3;
    background-image: url("Images/Tradeshows/AlarmCom-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;   
}

.ac-box-4 {
    flex: 1;
    order: 4;
    background-image: url("Images/Tradeshows/AlarmCom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;       
}

/*************************/
/*ALARM.COM: Main Content*/
/*************************/

.ac {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
    font-size: 1.6rem;
}

section#project-3 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.6rem;
    height: auto;
    margin: 0 5%;
}

.project-3-box-1 {
    flex: 2;
    order: 1;
    flex-basis: 50%;
    margin-right: 2.5rem;
}

section#project-3 h3 {
    margin: 2.5rem 0;
    text-transform: uppercase;
    text-align: center;
}

#project-3-box-1 p {
    text-align: left;
}

.project-3-box-2 {
    flex: 1;
    order: 2;
    flex-basis: 20%;
    background-color: rgb(102, 102, 102);
    color: rgb(245, 245, 245);
    justify-content: center;
    align-content: center;
    text-align: center;
}

.project-3-box-2 ul {
    list-style-type: none;
}

/*************************/
/*ASTOR GROUP: Showcase*/
/*************************/

section#showcase-3d {
    position: relative;
    opacity: .9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/Showcase/showcase-forest.jpeg");
    background-position: bottom;
    min-height: 40%;
}

.picture-3d-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    text-align: left;
    padding: 1.5rem;
    font-size: 2.7rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(102, 102, 102, .3);
    border: none;
}

.picture-3d-text h1 {
    margin: 1.5rem 0;
}

.highlight {
    color: rgb(255, 140, 0);
}

.picture-3d-text p {
    margin-bottom: 1.5rem;
}

/*************************/
/*ASTOR GROUP: Slide Content*/
/*************************/

.ag-flex-container-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 2rem;
}

.ag-box-1 {
    flex: 1;
    order: 1;
    background-image: url("Images/Web/AstorGroup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;   
}

.ag-box-2 {
    flex: 1;
    order: 2;
    background-image: url("Images/Web/AstorGroup-1.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;    
}

.ag-box-3 {
    flex: 1;
    order: 3;
    background-image: url("Images/Web/AstorGroup-2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;     
}

.ag-box-4 {
    flex: 1;
    order: 4;
    background-image: url("Images/Web/Astor-Group-3.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 25rem;
    min-width: 25rem;
    margin: .5rem;      
}

/*************************/
/*ASTOR GROUP: Main Content*/
/*************************/

.ag {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
    font-size: 1.6rem;
}

section#project-4 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.6rem;
    height: auto;
    margin: 0 5%;
}

.project-4-box-1 {
    flex: 2;
    order: 1;
    flex-basis: 50%;
    margin-right: 2.5rem;
}

section#project-4 h3 {
    margin: 2.5rem 0;
    text-transform: uppercase;
    text-align: center;
}

#project-4-box-1 p {
    text-align: left;
}

.project-4-box-2 {
    flex: 1;
    order: 2;
    flex-basis: 20%;
    background-color: #666;
    color: rgb(245, 245, 245);
    justify-content: center;
    align-content: center;
    text-align: center;
}

.project-4-box-2 ul {
    list-style-type: none;
}

/*************************/
/*CONTACT PAGE: Showcase*/
/*************************/

section#showcase-4 {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/Showcase/showcase-craterlake.jpg");
    min-height: 100%;
}

.picture-4-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    text-align: left;
    padding: 1.5rem;
    font-size: 2.7rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(102, 102, 102, .3);
    border: none;
}

.picture-4-text h1 {
    margin: 1.5rem 0;
}

.picture-4-text p {
    margin-bottom: 1.5rem;
}

/*************************/
/*CONTACT PAGE: Section-1*/
/*************************/

.contact-flex-container {
    display: flex;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.company-info {
    flex: 2;
    flex-direction: column;
    order: 2;
    width: 100%;
    height: auto;
    background-color: rgb(102, 102, 102);
    color: rgb(245, 245, 245);
    margin: 2.5rem 2.5rem 0 0;
    padding-top: 2.5rem;
    text-align: center;
}

.company-info h3, .company-info p {
    margin: 1rem 2rem;
}

.company-info a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

.company-info a:hover {
    color: rgb(255, 140, 0);
    font-weight: bold;
}

.company-info p {
    text-transform: none;
}

.company-info ul {
    text-decoration: none;
    list-style: none;
    margin-right: 2rem;
    text-transform: none;
}

.company-info i {
    font-size: 2rem;
    width: 2.5rem;
    align-content: center;
    color: rgb(255, 140, 0);
    margin: 1rem 2rem;
}

.contact-info-image {
    display: flex;
    flex: 1;
    order: 1;
    background-image: url("Images/About/Profile.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 40rem;
    margin: 2.5rem 2.5rem 0;
}

/*************************/
/*MEDIA QUERIES*/
/*************************/

/*************************/
@media(max-width: 770px) {
/*Global*/
    section#showcase,/*Homepage*/
    section#showcase-2,/*About*/
    section#showcase-3,/*MyWork*/
    section#showcase-3a,/*Devil Mountain*/
    section#showcase-3b,/*World of Tile*/
    section#showcase-3c,/*Alarm.com*/
    section#showcase-3d,/*Astor Group*/
    section#showcase-4/*Contact*/ {
        background-attachment: scroll;
    }
}
/*************************/
@media(max-width: 735px) {
    /*Global*/
    .picture-1-text,/*Homepage*/
    .picture-2-text,/*About*/
    .picture-3-text,/*MyWork*/
    .picture-4-text/*Contact*/ {
        left: 16%;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding: 1.5rem;
        font-size: 2.6rem;
        line-height: 3rem;
    }
    
    /*Homepage*/
    .section-1 {
        font-size: 2.4rem;
    }
    
    /*About*/
    .about-picture {
        background-position: 0;
    }
    
    .about-box-4 li, 
    .about-box-5 li, 
    .about-box-6 li {
        font-size: 1.5rem;
    }
    
    /*MyWork*/
    .mywork-flex-container-1,
    .mywork-flex-container-2 {
        display: flex;
        flex-direction: column;
        margin: 0 2.5rem 2.5rem;
        box-sizing: border-box;
    }

    .mywork-box-1 {
        flex: 1;
        order: 1, 2;
        margin-bottom: 2.5rem;
    }

    .mywork-box-2 {
        flex: 1;
        order: 2;
        margin: 0;
    }
    
    .mywork-box-3 {
        flex: 1;
        order: 1;
        margin-bottom: 2.5rem;
    }
    
    .mywork-box-4 {
        flex: 1;
        order: 2;
        margin: 0;
    }
    
    /*MyWork: Main Projects*/
    .picture-3a-text,/*Devil Mountain*/ 
    .picture-3b-text,/*World of Tile*/
    .picture-3c-text,/*Alarm.com*/
    .picture-3d-text/*Astor Group*/ {
        left: 16%;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding: 1.5rem;
        font-size: 2.6rem;
    }
    
    section#project-1,/*Devil Mountain*/
    section#project-2,/*World of Tile*/
    section#project-3,/*Alarm.com*/
    section#project-4/*Astor Group*/ {
        flex-direction: column;
        font-size: 1.6rem;
        height: auto;
        margin: 0 5%;
    }

    .project-1-box-1,/*Devil Mountain*/ 
    .project-2-box-1,/*World of Tile*/ 
    .project-3-box-1,/*Alarm.com*/ 
    .project-4-box-1,/*Astor Group*/
    .project-1-box-2 ul,/*Devil Mountain*/ 
    .project-2-box-2 ul,/*World of Tile*/ 
    .project-3-box-2 ul,/*Alarm.com*/ 
    .project-4-box-2 ul/*Astor Group*/ {
        margin: 0 0 2.5rem 0;
    }
    
    /*Contact*/
    .contact-info-image {
        align-self: center;
    }
    
    .company-info {
        width: 100%;
        margin: 2.5rem 2.5rem 0 0;
        font-size: 1.6rem;
    }
    
    .company-info ul {
        padding-bottom: 2rem;
    }
}

/*************************/
@media(max-width: 660px) {
    /*Global*/
    .picture-1-text,/*Homepage*/
    .picture-2-text,/*About*/
    .picture-3-text,/*MyWork*/
    .picture-4-text,/*Contact*/
    .picture-3a-text,/*Devil Mountain*/ 
    .picture-3b-text,/*World of Tile*/ 
    .picture-3c-text,/*Alarm.com*/ 
    .picture-3d-text/*Astor Group*/{
        left: 16%;
        font-size: 2.4rem;
    }
    
    /*Homepage*/
    .section-1 {
        font-size: 2.2rem;
    }
    
    /*About*/
    .about-box-4 li, .about-box-5 li, .about-box-6 li {
        font-size: 1.4rem;
    }
    
    /*Contact*/
    .contact-flex-container {
        flex-direction: column;
        margin: 0 2rem;
    }
    
    .contact-info-image {
        width: 35rem;
    }
}

/*************************/
@media(max-width: 425px) {
    /*Global*/    
    .picture-1-text,/*Homepage*/ 
    .picture-2-text,/*About*/
    .picture-3-text,/*MyWork*/
    .picture-4-text,/*Contact*/
    .picture-3a-text,/*Devil Mountain*/
    .picture-3b-text,/*World of Tile*/
    .picture-3c-text,/*Alarm.com*/ 
    .picture-3d-text/*Astor Group*/ {
        font-size: 2rem;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
    }
    
    /*Homepage*/
    .section-1 {
        font-size: 1.8rem;
    }
    
    .box-2, .box-3, .box-4 {
        min-width: 30rem;
        padding: 2.5rem 0;
    }
    
    /*About*/
    .about-section-3a {
        background-position: left;
    }
    
    .about-section-3b {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .about-box-4 {
        order: 1;
        flex-basis: 100%;
    }
    
    .about-box-5 {
        order: 2;
        flex-basis: 100%;
    }
    
    .about-box-6 {
        order: 3;
        flex-basis: 100%;
    }
    
    /*MyWork*/
    .mywork-flex-container-1, .mywork-flex-container-2 {
        margin: 0 1rem 2.5rem 1rem;
    }
}
/*************************/
/*END*/
/*************************/